.education {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    max-width: 10vw;
    padding-right: 5vh;
    padding-left: 5vh;
    margin-top: -40px;
}

.firstRow {
    margin-top: -40px;
}

.firstRow, .secondRow, .thirdRow {
    display: flex;
    flex-wrap: wrap;
}

.openEducation {
    width: 14vw;
    border: 1px solid;
}