#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

.education {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border: solid rgb(0, 0, 0, 0.2);
    max-width: 10vw;
    padding: 5vh;
}

.firstRow, .secondRow, .thirdRow {
    display: flex;
    flex-wrap: wrap;
}

.openEducation {
    width: 14vw;
    border: 1px solid;
    margin-bottom: 0;
}