.wrapper {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    max-width: 1200px;
}  

.form {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 14vw;
    padding: 5vh;
    gap: 7vh;
    position: absolute;
    left: 0;
}

.preview {
    width: 50vw;
    align-self: center;
    height: fit-content;
}

.submitButton {
    border: solid black;
    width: fit-content;
    align-self: center;
}

.submitButton:hover {
    background-color: rgb(0 0 0);
    color: white;
}
